<!DOCTYPE html>
<html>
<%-include("./partials/head.ejs")%>
<body>
    <%-include("./partials/nav.ejs")%>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia nulla assumenda numquam dolorem eos, nesciunt expedita illo itaque dignissimos eveniet omnis eius laboriosam eum, officia voluptates magni hic ipsam facilis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolore natus fugit quae voluptatum harum amet corrupti consequuntur, fugiat, quo sit quisquam beatae quibusdam provident ipsa illum expedita numquam quos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates iure voluptas assumenda magnam laboriosam explicabo maxime repellendus, recusandae facere temporibus ipsa consequatur dolore deleniti exercitationem beatae reiciendis cupiditate dignissimos.</p>
    </div>

    <%-include("./partials/footer.ejs")%>
    
</body>
</html>